html, body { 
    height: 100%; 
    padding: 0; 
    margin: 0; }
div { 
    width: 50%; 
    height: 50%; 
    float: left;
    text-align: center;
}
#q1 {
    background-color: red;
}

#q2 {
    background-color: green;
}

#q3 {
    background-color: blue;
}

#q4 {
    background-color: rgb(182, 182, 182);
}